<br>
<%= simple_form_for @user do |f| %>
  <%= f.error_notification %>
 <div class="container">
        <div class="modal-dialog edit-profile">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">About You </h4>
                </div>
                <div class="modal-body">
                    <center>
                      <small>
                      <h4 class="media-heading">
                        <%= f.input :username, autofocus: true,required: true %>
                        <%= f.input :firstname, autofocus: true,required: true %>
                        <%= f.input :lastname, autofocus: true,required: true %>
                        <%= f.input :age, autofocus: true %>
                         <br>
                         <br>
                          <%= f.input :phone_number, autofocus: true%>
                          <%= f.input :email, autofocus: true %>
                          <br>
                          <br>
                          <%= f.input :city, autofocus: true %>
                          <%= f.input :zip_code, autofocus: true %>
                          <%= f.input :street, autofocus: true %>
                          <%= f.input :number, autofocus: true %>
                        </small>
                      </h4>
                    </center>
                    <div>
                    <center>
                      <%= f.input :biography, autofocus: true %>
                    <br>
                    <br>

                    </center>
                     </div>
                </div>
                <div class="modal-footer">
                    <center>
                    <%= f.button :submit %>
                    </center>
                </div>
            </div>
        </div>
</div>
<% end %>
