<div class="container" style="padding-top: 150px;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class= "text-center" style="margin:30px;">About <%= @user.username %> from <%=@user.city%></h1>
      </div>
      <div class="modal-body text-center">
        <h1> Your real name is:</h1>
        <h2><%=@users.firstname%> <%=@users.lastname%></h2>
        <br>
        <h1>you are <%=@users.age%> old</h1>
        <br>
        <br>
        <h1>We can contact you by:</h1>
        <h2>Email:</h2><h3><%= @users.email %></h3>
        <h2>Phone:</h2><h3><%=@users.phone_number%></h3>
        <br>
        <br>
        <h1>You might recieve party at</h1>
        <h2>
          <%=@users.street%> n° <%=@users.number%><br>
          <%=@users.zip_code %>, <%=@users.city%>
        </h2>
        </center>
      </div>
      <div class="modal-footer text-center">
        <%= link_to 'Edit', edit_users_path(@users)%> |
        <%= link_to 'Back', users_path %>
      </div>
    </div>
  </div>
</div>
